{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}
    {% trans 'List of available transactions' %}
{% endblock %}

{% block heading %}
    <h2>{% trans 'List of available transactions' %} </h2>
    <p><i>{% trans 'Transactions' %}</i>  </p>
{% endblock heading %}

{% block content %}
    {% if list_of_transactions %}
    <tr>
      <h3>New transactions loaded in database : </h3>
    </tr>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Debit Date</th>
          <th>Real Date</th>
          <th>Value Date</th>
          <th>Type</th>
          <th>Label</th>
          <th>Raw Label</th>
          <th>Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in list_of_transactions %}
            <tr>
              <td> {{transaction.date|date:" Y/m/d"}} </td>
              <td> {{transaction.rdate|date:" Y/m/d"}} </td>
              <td> {{transaction.vdate|date:" Y/m/d"}} </td>
              <td> {{transaction.type}} </td>
              <td> {{transaction.label}} </td>
              <td> {{transaction.raw}} </td>
              <td> {{transaction.category}} </td>
              <td> {{transaction.amount}} </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <tr>
          <h3>Database is up to date: there is no new transaction to load !</h3>
        </tr>
    {% endif %}

{% endblock %}

