/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/*
.col-md-9 .col-lg-9 .col-sm-9{
  position: relative;
}
*/

body .font-red {
    color: #ff0000;
}

body .font-blue {
    color: #0000ff;
}


.content {
  margin: 1em 0;
  position: relative;
}

.content .search-sidebar{
    box-shadow: 0 0 20px #ccc;
}

/*
.content .btn .btn-default{
    box-shadow: 0 0 20px #ccc;
}
*/

.content .card{
    box-shadow: 0 0 20px #ccc;
    margin: 1em 0;
    /*width: 20rem;*/
    width: 100%;
    height: 29rem;
}

.content .card img{
    /*box-shadow: 0 0 20px #ccc;*/
    width: 100%;
    height: 12em;
}

.content .card-title{
    color:#F97300;
}

.content .card-body{
    padding: 1em;
}

.content .card-footer{
    width: 100%;
}

.content .search-sidebar {
  /*margin: 1em 0;*/
}

.breadcrumb{
    box-shadow: 0 0 20px #ccc;
    margin: 1em 0; /*xlh*/
}

.list-group{
    box-shadow: 0 0 20px #ccc;
    margin: 1em 0; /*xlh*/
}

.table{
    box-shadow: 0 0 20px #ccc;
    margin: 1em 0; /*xlh*/
}
