{% load static i18n %}
{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GesFi{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Gesfi - Personal Budget Management Application">
    <meta name="author" content="XLH">

    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}

    <!-- Latest compiled and minified Bootstrap 4 beta CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    -->

    <!-- Bootswatch Yeti - Added by XLH -->
    <link rel="stylesheet" media="tv" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <!-- End Bootswatch Yeti - Added by XLH -->

    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">


    {% endblock css %}

  </head>

  <body>
    {% block body %}

    <div class="m-b-1">
      <!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary"> -->
      <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {# <!-- <a class="navbar-brand" href="{% url 'home' %}">GesFiPe</a> --> #}
        <a class="navbar-brand" href="{% url 'banksandaccounts:home' %}"><img src="{% static 'images/favicon.ico' %}" width="30" height="30" alt=""></a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'banksandaccounts:home' %}">Accounts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'banksandaccounts:transactions_list' %}">Transactions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'categories:show_category' node=None %}">Budget <span class="sr-only">(current)</span></a>
            </li>

            {% if request.user.is_superuser %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {# <a class="dropdown-item" href="#">Action</a> #}
                {# <a class="dropdown-item" href="#">Another action</a> #}

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'categories:tag_edit' pk=Null %}">Edit Tags</a>
                  <a class="dropdown-item" href="{% url 'categories:search_tags' %}">Search Tags</a>
                  <div class="dropdown-divider"></div>
                  {# <!-- <a class="dropdown-item" href="{% url 'get_list_of_managed_banks' %}">Available Banks</a> --> #}
                  <a class="dropdown-item" href="{% url 'manageweboob:update_list_of_managed_banks' %}">Update Available Banks</a>
                  <a class="dropdown-item" href="{% url 'managegesfi:get_list_of_available_accounts' %}">Available Accounts</a>
                  <a class="dropdown-item" href="{% url 'managegesfi:list_unique_numbers' %}">List unique numbers of transactions</a>
                  <a class="dropdown-item" href="{% url 'managegesfi:load_transactions' %}">Load Transactions</a>
                  <div class="dropdown-divider"></div>
                  {# <a class="dropdown-item" href="/list_of_modules_in_database/">List of available banks</a> #}
                  <a class="dropdown-item" href="{% url 'manageweboob:load_list_of_modules_in_database' %}">Load Weboob banks</a>
                  <a class="dropdown-item" href="{% url 'manageweboob:list_of_modules_in_database' %}">List of Weboob banks in database</a>
                  <a class="dropdown-item" href="{% url 'banksandaccounts:banks_list' %}">List of banks</a>
                  <a class="dropdown-item" href="{% url 'banksandaccounts:accounts_list' %}">List of accounts</a>
                  <a class="dropdown-item" href="{% url 'banksandaccounts:bank_create' %}">Create new bank</a>
                  <a class="dropdown-item" href="{% url 'banksandaccounts:bank_create_with_weboob_module' pk=0 %}">Create new bank with Weboob Module</a>
                  <a class="dropdown-item" href="{% url 'banksandaccounts:account_create' %}">Create new account</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'managegesfi:display_meta' %}">Meta Info</a>

              </div>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
              </li>
            {% else %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

 <!-- TODO: To delete all blocks heading (coming from Gesfi1) or to find an othe solution to give global info -->

    <div class="container-fluid">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-9">
          <div class="content">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3">
          {% block sidesearch %}
          {% endblock sidesearch %}

          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Required by Bootstrap v4 beta -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

    <hr>

    <div class="container-fluid">
        <footer>
          <div class="row">
            <div class="col-md-9">
                <p>&copy; GesFi Company 2016 - You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
            </div>
            {% if user.is_superuser %}
            <div class="col-md-3">
                <p class="text-right" >
                    <a href="/admin/">Admin</a>
                </p>
            </div>
            {% endif %}
          </div>
        </footer>
    </div>

    {% endblock body %}
  </body>

</html>

