{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block head %}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <script src="{% static 'js/search.js' %}"></script>
{% endblock head %}

{% block title %}
    {{account.name_of_account}}
{% endblock %}

{% block heading %}
    <h2>{% trans 'Account detail:' %}</h2>
    <h4>{% trans 'Name of bank:' %} {{account.bank.name_of_bank}}</h4>
    <h4>{% trans 'Name of account:' %} {{account.name_of_account}}</h4>
{% endblock heading %}

{% block content %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Num</th>
        <th>Type</th>
        <th>IBAN</th>
        <th>Bank</th>
    </tr>
    </thead>

    <tbody>
      <tr>
          {# <td><a href="/account_edit/{{account.id}}/">{{ account.name_of_account }}</a></td> #}
          <td><a href="{% url 'banksandaccounts:account_edit' account.id %}">{{ account.name_of_account }}</a></td>
          <td>{{ account.num_of_account }}</td>
          <td>{{ account.get_type_int_of_account_display }}</td>
          <td>{{account.iban_of_account}}</td>
          <td>{{ account.bank.name_of_bank }}</td>
      </tr>
    </tbody>

</table>

{% endblock content %}


{% block sidesearch %}

{% endblock sidesearch %}


{% block sidebar %}

{% endblock %}


