{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block heading %}
    <h2>{% trans 'List of Banks and Accounts' %}</h2>
    <h4>{% trans 'Total amount:' %} {{account_total.total}}</h4>
{% endblock heading %}

{% block content %}
        {% for bank in banks_list %}
            <div class="list-group">
                <a class="list-group-item active" href="#"> {{bank}} </a>
                {% for account in accounts_info %}
                    {% if account.bank == bank %}
                        <a class="list-group-item" href="/account/{{account.id}}/">{{account}}
                            <br> Account id: {{account.num_of_account}}
                            <br> Total :
                                {% if account.total_amount_by_account >= 0 %}
                                    <span>{{account.total_amount_by_account}}</span>
                                {% else %}
                                    <span class="font-red"><strong>{{account.total_amount_by_account}}</strong></span>
                                {% endif %}
                            <br> Transaction Mini:
                                {% if account.min_amount_by_account < 0 %}
                                    <span class="label label-danger"> {{account.min_amount_by_account}} </span>
                                {% else %}
                                    <span class="label label-primary"> {{account.min_amount_by_account}} </span>
                                {% endif %}
                            <br> Transaction Maxi:
                                {% if account.max_amount_by_account < 0 %}
                                    <span class="label label-danger"> {{account.max_amount_by_account}} </span>
                                {% else %}
                                    <span class="label label-primary"> {{account.max_amount_by_account}} </span>
                                {% endif %}
                            <br> Number of transactions: <span class="label label-default">{{account.num_transac_by_account}}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        {% for bank in banks_list %}
            {% for account in accounts_info %}
                {% if account.bank == bank %}
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{bank}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Account id: {{account.num_of_account}}</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        {% endfor %}

{% endblock content %}

{% block sidebar %}
    {# <div class="row"> #}
        <h2> Mettre ici une zone de recherche en fonction des dates</h2>
        <h4> Objectif: avoir des info générales sur une période donnée</h4>
    {# </div> #}
{% endblock sidebar %}

