{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block heading %}
    <h2>{% trans 'List of Banks and Accounts' %}</h2>
    <h4>{% trans 'Total amount:' %} {{account_total.total}}</h4>
{% endblock heading %}

{% block content %}
  <div class="row">
    {% for bank in banks_list %}
        {% for account in accounts_info %}
            {% if account.bank == bank %}
            <div class="col-12 col-sm-12 col-md-9 col-lg-4">
                <div class="card"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="Click to get list of transactions related to this account">
                  <a href="{% url 'banksandaccounts:account_list' account.id %}">
                    <img class="card-img-top"
                         src="{% static 'images/banksandaccounts/pexels-photo-196658.jpeg' %}"
                         alt="Card image cap">
                  </a>
                    <div class="card-body">
                      <h4 class="card-title">Account name: <br><a href="{% url 'banksandaccounts:account_detail' account.id %}"> {{account.name_of_account}}</a></h4>
                      <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'banksandaccounts:bank_detail' bank.id %}">{{bank}}</a> - Type of account: {{account.get_type_int_of_account_display}}</h6>
                        <p class="card-text">
                            <br> Total :
                                {% if account.total_amount_by_account >= 0 %}
                                    <span class="font-blue"><strong>{{account.total_amount_by_account}}</strong></span>
                                {% else %}
                                    <span class="font-red"><strong>{{account.total_amount_by_account}}</strong></span>
                                {% endif %}
                            <br> Transaction Mini:
                                {% if account.min_amount_by_account < 0 %}
                                    <span class="label label-danger"> {{account.min_amount_by_account}} </span>
                                {% else %}
                                    <span class="label label-primary"> {{account.min_amount_by_account}} </span>
                                {% endif %}
                            <br> Transaction Maxi:
                                {% if account.max_amount_by_account < 0 %}
                                    <span class="label label-danger"> {{account.max_amount_by_account}} </span>
                                {% else %}
                                    <span class="label label-primary"> {{account.max_amount_by_account}} </span>
                                {% endif %}
                            <br> Number of transactions: <span class="label label-default">{{account.num_transac_by_account}}</span>
                            <br>
                        </p>
                    </div>
                    <div class="card-footer">
                      <a href="{% url 'banksandaccounts:account_list' account.id %}">Transactions</a>
                      {# <a href="#" class="card-link">Another link</a> #}
                    </div>
                </div>
                <br>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
  </div>
{% endblock content %}


{% block sidesearch %}

  {% include 'banksandaccounts/sidebar_search.html' %}

{% endblock sidesearch %}


{% block sidebar %}

{% endblock sidebar %}

