{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<!-- TODO: How to send "name of bank" and "name of account" with link of sidebar_list -->
{% block title %}
     - {% trans 'Lis of banks in database' %}
{% endblock %}


{% block heading %}

{% endblock heading %}


{% block content %}
    <!-- <div class="table-responsive"> -->
    <table class="table table-hover table-responsive-sm table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th><h4>Bank</h4></th>
                <th><h4>Num.</h4></th>
                <th><h4>Weboob module</h4></th>
                <th>Load / Edit / Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for bank in banks %}
                <tr>
                    <td><a href="{% url 'banksandaccounts:bank_edit' bank.id %}">{{ bank.name_of_bank }}</a></td>
                    <td>{{ bank.num_of_bank }}</td>
                    <td>{{ bank.module_weboob }}</td>
                    <td>
                        {% if bank.module_weboob is None %}
                            -------  / 
                        {% else %}
                            <a href="{% url 'banksandaccounts:bank_connection_and_load_transactions' bank.id %}">Load</a> /
                        {% endif %}
                        <a href="{% url 'banksandaccounts:bank_edit' bank.id %}">Edit</a> / 
                        <a href="{% url 'banksandaccounts:bank_delete' bank.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block sidesearch %}

{% endblock sidesearch %}


{% block sidebar %}

{% endblock %}
