{% load i18n %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}

  <div class="content">
  {% if not hide_search %}
    <form class="search-sidebar" role="search" action="{% url 'managegesfi:search' %}">
      <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary search-sidebar">
              Submit
              <!-- <span class="glyphicon glyphicon-search"></span> -->
            </button>
          </span>
      </div>
    </form>
  {% endif %}
  </div>

