{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    {% if create %} - Create{% else %} - Edit{% endif %} transaction {{ form.instance.name }}
{% endblock %}

{% block heading %}
    {% if create %}
        <h2>Create transaction</h2>
    {% else %}
        <h2>Edit transaction:</h2>
        <h4><i>{{ transaction.name_of_transaction }}</i></h4>
    {% endif %}
{% endblock %}

{% block content %}
    {% if create %}
        {% url "transaction_create" as action_url %}
    {% else %}
        {% url "transaction_edit" pk=form.instance.pk as action_url %}
    {% endif %}
    <form action="{{ action_url }}" method="post" accept-charset="utf-8">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary" value="Save"></p>
    </form>
{% endblock %}


{% block sidesearch %}
  <div class="content">
  {% if not hide_search %}
    <form class="search-sidebar" role="search" action="{% url 'search' %}">
      <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary search-sidebar">
              Submit
              <!-- <span class="glyphicon glyphicon-search"></span> -->
            </button>
          </span>
      </div>
    </form>
  {% endif %}
{% endblock sidesearch %}


{% block sidebar %}

<!-- TODO: To search why card-text is so long (maybe have a look on project.css ?) -->
<!-- TODO: To search why "Account" isn't obligatory -->
<!-- TODO: To fill automatically some field such as Account when comming from a link of the sidebar Card (transaction_list.html -->

  {% include 'BanksAndAccounts/sidebar_list_of_accounts.html' with all_account=all_account banks_list=banks_list  %}

{% endblock %}
