{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block head %}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <script src="{% static 'js/search.js' %}"></script>
{% endblock head %}

{% block title %}
    {{transaction.account.name_of_account}}
{% endblock %}

{% block heading %}
    <h2>{% trans 'Transaction detail:' %}</h2>
    <h4>{% trans 'Name of bank:' %} {{transaction.account.bank.name_of_bank}}</h4>
    <h4>{% trans 'Name of account:' %} {{transaction.account.name_of_account}}</h4>
{% endblock heading %}

{% block content %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>N° Account</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ transaction.date_of_transaction|date:" Y/m/d" }}</td>
        <td>{{ transaction.type_of_transaction }}</td>
        <td>{{ transaction.name_of_transaction }}</td>
            {% if transaction.amount_of_transaction >= 0 %}
                <td class="font-blue"> {{ transaction.amount_of_transaction | rjust:"10" }} </td>
            {% endif %}
            {% if transaction.amount_of_transaction < 0 %}
                <td class="font-red"> {{ transaction.amount_of_transaction | rjust:"10" }} </td>
            {% endif %}
        <td>{{ transaction.currency_of_transaction }}</td>
        <td>{{ transaction.account.num_of_account }}</td>
    </tr>
    </tbody>
</table>

{% endblock content %}


{% block sidesearch %}

  {% include 'banksandaccounts/sidebar_search.html' %}

{% endblock sidesearch %}


{% block sidebar %}

  {% include 'banksandaccounts/sidebar_list_of_accounts.html' with all_accounts=all_accounts banks_list=banks_list  %}

{% endblock %}


