{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    {% if create %} - Create{% else %} - Edit{% endif %} transaction {{ form.instance.name }}
{% endblock %}

{% block heading %}
    {% if create %}
        <h2>Create transaction</h2>
    {% else %}
        <h2>Edit transaction:</h2>
        <h4><i>{{ transaction.name_of_transaction }}</i></h4>
    {% endif %}
{% endblock %}

{% block content %}
    {% if create %}
        {% url "transaction_create" as action_url %}
    {% else %}
        {% url "transaction_edit" pk=form.instance.pk as action_url %}
    {% endif %}
    <form action="{{ action_url }}" method="post" accept-charset="utf-8">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary" value="Save"></p>
    </form>
{% endblock %}


{% block sidesearch %}

  {% include 'banksandaccounts/sidebar_search.html' %}

{% endblock sidesearch %}



{% block sidebar %}

<!-- TODO: To search why card-text is so long (maybe have a look on project.css ?) -->
<!-- TODO: To search why "Account" isn't obligatory -->
<!-- TODO: To fill automatically some field such as Account when comming from a link of the sidebar Card (transaction_list.html -->

  {% include 'banksandaccounts/sidebar_list_of_accounts.html' with all_accounts=all_accounts banks_list=banks_list  %}

{% endblock %}
